.footer {
  background: #f8f8f8;
  min-height: 268px;
}
.footer__wrapper {
  max-width: 1125px;
  margin: 0 auto;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
  margin-bottom: 26px;
}
.footer__navigation {
}
.footer__navigation-list {
  display: flex;
}
.footer__navigation-item {
  margin-right: 40px;
}
.footer__navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #777777;
}
.footer__social {
  display: flex;
}
.footer__social-link {
  margin-right: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__privacy {
}
.footer__pay {
  display: flex;
}
.footer__pay-item {
  margin-right: 10px;
}
