.footer {
  background: #f8f8f8;
  min-height: 268px;
}
.footer__wrapper {
  max-width: 1125px;
  margin: 0 auto;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
  margin-bottom: 26px;
}
.footer__navigation {
}
.footer__navigation-list {
  display: flex;
}
.footer__navigation-item {
  margin-right: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}
.footer__navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  transition: .2s linear;
  color: #777777;

   &:hover {
    color: #000000;
    font-weight: 500;
  }
}
.footer__social {
  display: flex;
}
.footer__social-link {
  margin-right: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__privacy {
  font-weight: 500;
font-size: 14px;
line-height: 16px;

color: #777777;
}

.footer__privacy--bold {
  font-weight: 600;
}
.footer__pay {
  display: flex;
}
.footer__pay-item {
  margin-right: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #000000;
  width: 17px;
  height: 17px;
  transition: .2s linear;

  &:hover {
        fill: #777777;
  }

}

.logo {
  width: 268px;
  height: 34px;
}