@media (max-width: 1680px) {
  .slider__cont {
    background-position: center;
  }
}
@media (max-width: 1366px) {
  .shop__wrapper {
    max-width: 1210px;
    margin: 20px auto;
  }
}
@media (max-width: 1280px) {
  .slider__cont {
    max-width: 100%;
  }
  .shop__tabs-inner {
    justify-content: space-around;
  }
}
@media (max-width: 1025px) {
  .header__burger {
    display: block;
    position: absolute;
    top: 17px;
    right: 2px;
  }

  .header__menu {
    display: none;
    z-index: 5;
    background-color: #ffffff;
  }

  .header__menu-item {
    font-size: 22px;
    margin: 0 0 26px 65px;
  }

  .header__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    top: 90%;
    background-color: #fff;
    width: 100%;
  }

  .header__user-item {
    &:last-child {
      margin-right: 20px;
    }
  }

  .header__arrow {
    top: -10px;
    left: 110px;
    width: 40px;
    height: 40px;
  }

  .subheader__menu-list {
    position: relative;
    padding: 0;
    top: 10px;
  }

  .subheader__menu-item {
    margin-bottom: 10px;
  }

  .header__menu-item {
    &:hover {
      .subheader__menu-list {
        display: none;
      }

      .header__menu-link {
        color: #000000;
        font-weight: 400;
      }

      .header__menu-link:after {
        width: 0;
      }
    }
  }

  .shop__card-navigation {
    opacity: 1;
  }

  .footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
  }
}
@media (max-width: 800px) {
  .footer__top {
    flex-direction: column-reverse;
    padding-top: 26px;
  }

  .footer__navigation-list {
    justify-content: center;
  }

  .footer__social {
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer__bottom {
    flex-direction: column-reverse;
  }

  .footer__privacy {
    text-align: center;
  }

  .footer__pay {
    justify-content: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .shop__section {
    padding: 10px 0 0 0;
  }
}
@media (max-width: 600px) {
  .footer__navigation-list {
    flex-direction: column;
    align-items: center;
  }

  .footer__navigation-item {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .footer__bottom {
    padding-bottom: 30px;
  }
}
@media (max-width: 533px) {
  .header__wrapper {
    flex-direction: column;
  }

  .header__logo {
    margin-bottom: 10px;
  }

  .header__user-item {
    &:last-child {
      margin-right: 0px;
    }
  }
  .shop__tabs-header {
    flex-direction: column;
    align-items: center;
  }

  .shop__header-item {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .shop__card {
    max-width: 355px;
  }

  .shop__card {
    margin-bottom: 20px;
  }

  .sale__promo-text {
    font-size: 30px;
    margin-bottom: 14px;
    line-height: 38px;
  }

  .hash__item {
    font-size: 18px;
    line-height: 21px;
    color: #939191;
    margin: 0 23px 24px 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
@media (max-width: 360px) {
  .shop__card {
    max-width: 300px;
  }

  .navigation__sticker {
    max-width: 238px;
  }

  .navigation__product {
    right: 10px;
  }

  .header__burger {
    top: 54px;
    right: 2px;
  }

  .header__menu-item {
    margin: 0 0 20px 48px;
  }
}
@media (max-width: 320px) {
}
