.shop {
}

.shop__section {
  padding: 95px 0 0 0;
}
.shop__wrapper {
  max-width: 1210px;
  margin: 0 auto;
}
.shop__tabs {
}
.shop__tabs-header {
  display: flex;
  justify-content: center;
}
.shop__header-item {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin-right: 50px;
  margin-bottom: 52px;
  outline: none;

  cursor: pointer;
  color: #929292;
  transition: 0.2s linear;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: #5f5f5f;
  }
}

.shop__header-item--active {
  color: #0f0f0f;
}

.shop__header-item--active {
  color: #0f0f0f;
}

.shop__tabs-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop__tabs-inner--active {
  display: flex;
}
.shop__card {
  position: relative;
  margin-bottom: 59px;
  max-width: 370px;
  max-height: 565px;
  overflow: hidden;

  &:hover {
    .shop__card-navigation {
      opacity: 1;
    }

    .shop__card-img {
      transform: scale(1.05);
    }

    .shop__card-name {
      opacity: 0;
    }

    .shop__card-name--hover {
      opacity: 1;
    }
  }
}

.shop__card-content {
  display: block;
  overflow: hidden;
}
.shop__card-img {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.sale__icons {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.sale__icon {
  position: absolute;
  top: 15px;
  left: 15px;
}
.sale__icon-mega {
  max-width: 140px;
  min-height: 28px;
  background: #7bac69;
  border-radius: 35.5px;
  padding: 0 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sale__icon-price {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db82d2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale__icon-sale {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #f83939;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale__icon-text {
  position: relative;
  top: 30%;
  text-align: center;
}
.shop__card-navigation {
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.navigation__product {
  position: absolute;
  top: 17px;
  right: 20px;
}
.navigation__product-item {
  width: 36px;
  height: 35px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 14px;
}
.navigation__product-icon {
}
.navigation__sticker {
  min-height: 52px;
  width: 100%;
  max-width: 312px;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 82px;
  left: 30px;
}
.navigation__size {
  display: flex;
}
.navigation__size-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-right: 15px;

  color: #939191;
}
.navigation__icon {
  display: flex;
}
.navigation__icon-item {
  margin-right: 15px;
}
.shop__card-info {
  font-style: normal;

  font-size: 17px;
  line-height: 20px;

  color: #000000;
}

.name__block {
  position: relative;
}
.shop__card-name {
  font-weight: 500;
  padding: 13px 0 6px 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shop__card-name--hover {
  color: #ff0000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.shop__card-price {
  font-weight: 600;
}
.last__price {
  line-height: 20px;
  text-decoration-line: line-through;

  color: #939191;
  margin-left: 10px;
}
